.login {
    min-height: 100vh;
    background: url(/bg_img.png) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login .logo {
    width: max(14vw, 151px);
    
}



.login-form {
    background-image:  linear-gradient(45deg, #e6e3af, #8d959c);
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    

}

.login-form h2 {
    font-weight: 500;
    color: #383862;
    

}
.form-input {
    padding: 8px 10px;
    border: 1px solid #a09f9f;
    border-radius: 4px;
    outline-color: #000000;
}

.login-form button {
    padding: 10px;
    background-color: #9999FF;
    color: whitesmoke;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
.login-form button:hover{
    background-color: #215de8;
}


.login-term {
    display: flex;
    gap: 5px;
    font-size: 12px;
    color: #050c0c;
}

.login-forgot {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-toggle {
    font-size: 13px;
    color: #000000;
}

.login-toggle span {
    font-weight: 500;
    color: #9999FF;
    cursor: pointer;
}
.login-toggle span:hover {
    color: #CB80AB;
}

@media (max-width: 768px) {
    .login{
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    
}